#define IDS_MENU_TEXT 1
#define IDS_STATUS_MESSAGE 2
#define IDI_ICON 101

IDI_ICON ICON "IPMessenger_Icon.ico"

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
	IDS_MENU_TEXT, "IPメッセンジャー"
	IDS_STATUS_MESSAGE, "IPメッセンジャー|IPメッセンジャーを表示します。"
}
